node_modules
config/config.js
.env.local
client/public/main.js
client/public/main.js.LICENSE.txt
client/public/index.html
client/public/config.js
client/public/*.gz
.env
db/config.js
coverage
firebase-private-key.json
